[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "benchmarks/benchmark"]
	path = benchmarks/benchmark
	url = https://github.com/google/benchmark.git
	branch = master
[submodule "benchmarks/outcome"]
	path = benchmarks/outcome
	url = https://github.com/ned14/outcome.git
[submodule "benchmarks/quickcpplib"]
	path = benchmarks/quickcpplib
	url = https://github.com/ned14/quickcpplib.git
